<% include ../partials/header %>

<div class="container formBox">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="card ">
        <div class="card-header">
          <h4>Add New Comment</h4>
          <div class="card-body">
            <form action="/posts/<%= post.id %>/comments" method="POST">
              <div class="form-group">
                <textarea type="text" name="comment[text]" class="form-control"></textarea>
              </div>
              <input type="submit" class="btn btn-primary btn-block" value="Add Comment">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script src="https://cdn.ckeditor.com/4.8.0/standard/ckeditor.js"></script>
<script>
CKEDITOR.replace( 'comment[text]' );
</script>

<% include ../partials/footer %>
