<% include partials/header %>
<div class="container text-center landingPos">
  <p class="logoMain">Welcome to Bloggeroo</p>

  <a class="btn btn-primary btn-lg" href="/posts">View All Posts</a>
</div>


<% include partials/footer %>
