<% include partials/header %>

<div class="container text-center landingPos">
  <p class="logoMain">Page does not exist!</p>

  <a class="btn btn-primary btn-lg" href="/posts">Go To Posts Page</a>
</div>

<% include partials/footer %>
