<% include partials/header %>
<div class="container text-white text-center">
  <h1 class="mt-5">Page does not exist!</h1>
  <a class="mt-4 btn btn-lg btn-primary text-white" href="/posts">Go To Posts Page</a>
</div>

<% include partials/footer %>
